@font-face {
  font-family: 'shop-it-out';
  src: url('../font/shop-it-out.eot?2977964');
  src: url('../font/shop-it-out.eot?2977964#iefix') format('embedded-opentype'),
       url('../font/shop-it-out.woff2?2977964') format('woff2'),
       url('../font/shop-it-out.woff?2977964') format('woff'),
       url('../font/shop-it-out.ttf?2977964') format('truetype'),
       url('../font/shop-it-out.svg?2977964#shop-it-out') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'shop-it-out';
    src: url('../font/shop-it-out.svg?2977964#shop-it-out') format('svg');
  }
}
*/
[class^="sio-"]:before, [class*=" sio-"]:before {
  font-family: "shop-it-out";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.sio-star:before { content: '\e800'; } /* '' */
.sio-star-filled:before { content: '\e801'; } /* '' */
.sio-search:before { content: '\e802'; } /* '' */
.sio-cancel:before { content: '\e803'; } /* '' */
.sio-menu:before { content: '\e804'; } /* '' */
.sio-phone:before { content: '\e805'; } /* '' */
.sio-location:before { content: '\e806'; } /* '' */
.sio-clock:before { content: '\e807'; } /* '' */
.sio-link:before { content: '\e808'; } /* '' */
.sio-money:before { content: '\f0d6'; } /* '' */
.sio-mail-alt:before { content: '\f0e0'; } /* '' */
.sio-angle-left:before { content: '\f104'; } /* '' */
.sio-angle-right:before { content: '\f105'; } /* '' */
.sio-angle-up:before { content: '\f106'; } /* '' */
.sio-angle-down:before { content: '\f107'; } /* '' */
.sio-calendar-empty:before { content: '\f133'; } /* '' */
.sio-doc-text-inv:before { content: '\f15c'; } /* '' */
.sio-instagram:before { content: '\f16d'; } /* '' */
.sio-wechat:before { content: '\f1d7'; } /* '' */
.sio-paper-plane:before { content: '\f1d8'; } /* '' */
.sio-whatsapp:before { content: '\f232'; } /* '' */
.sio-id-card:before { content: '\f2c2'; } /* '' */
.sio-facebook-squared:before { content: '\f308'; } /* '' */
