.btn {
    @apply text-md px-6 py-2 rounded-md font-semibold;
}

.btn-primary {
    @apply btn text-white bg-pink-400;
}

.btn-primary:disabled {
    @apply text-white bg-gray-200 text-gray-400 cursor-default;
}

.btn-outline {
    @apply btn text-pink-400 border border-pink-400;
}

.btn-primary-hover.btn-outline:hover {
    @apply text-white bg-pink-400;
}

.btn-sm {
    @apply text-sm px-3 py-1;
}

@screen sm {
    .sm\:btn {
        @apply btn;
    }
}

@screen md {
    .md\:btn {
        @apply btn;
    }

    .md\:btn-outline {
        @apply btn-outline;
    }

    .md\:btn-sm {
        @apply btn-sm;
    }
}

.tag {
    @apply inline-block text-pink-600 text-sm;
}

.text-input-primary {
    @apply rounded-md border py-2 px-4 text-md;
}

.text-input-primary:focus {
    @apply outline-none border-pink-400;
}

textarea {
    outline-color: #f472b6;
}

.black-to-yellow-filter {
    filter: invert(70%) sepia(100%) hue-rotate(15deg) saturate(5);
}

.black-to-pink-filter {
    filter: invert(70%) sepia(100%) hue-rotate(290deg) saturate(5);
}

.accordion-enter-active,
.accordion-leave-active {
    @apply transition duration-500 ease-in-out;
}

.accordion-enter-from,
.accordion-leave-to {
    @apply transform -translate-y-full;
}

.bg-loading {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.image-container {
    @apply bg-center bg-cover bg-gray-300;
}
