body {
    @apply text-gray-800;
}

.btn {
    @apply text-md px-6 py-2 rounded-md font-semibold;
}

.btn-primary {
    @apply btn text-white bg-pink-400;
}

.btn-primary:disabled {
    @apply text-white bg-gray-200 text-gray-400 cursor-default;
}

.btn-outline {
    @apply btn text-pink-400 border border-pink-400;
}

.btn-primary-hover.btn-outline:hover {
    @apply text-white bg-pink-400;
}

.btn-sm {
    @apply text-sm px-3 py-1;
}

.btn-lg {
    @apply text-xl px-12 py-3;
}

@screen sm {
    .sm\:btn {
        @apply btn;
    }
}

@screen md {
    .md\:btn {
        @apply btn;
    }

    .md\:btn-outline {
        @apply btn-outline;
    }

    .md\:btn-sm {
        @apply btn-sm;
    }
}

.tag {
    @apply inline-block text-pink-600 text-sm;
}

.text-input-primary {
    @apply rounded-md border py-2 px-4 text-md;
}

.text-input-primary:focus {
    @apply outline-none border-pink-400;
}

.text-input-primary--prefixed {
    @apply rounded-l-none pl-2 !important;
}

.text-input-primary--suffixed {
    @apply rounded-r-none pr-2 !important;
}

.text-input-prefix-primary {
    @apply rounded-l-md border-b border-t border-l text-md py-2 pl-4 pr-2;
}

.text-input-suffix-primary {
    @apply rounded-r-md border-b border-t border-r text-md py-2 pr-4 pl-2;
}

textarea {
    outline-color: #f472b6;
}

.black-to-yellow-filter {
    filter: invert(70%) sepia(100%) hue-rotate(15deg) saturate(5);
}

.black-to-pink-filter {
    filter: invert(70%) sepia(100%) hue-rotate(290deg) saturate(5);
}

.accordion-enter-active,
.accordion-leave-active {
    @apply transition duration-500 ease-in-out;
}

.accordion-enter-from,
.accordion-leave-to {
    @apply transform -translate-y-full;
}

.bg-loading {
    background: linear-gradient(90deg, #ddd 20%, #eee 50%, #ddd 80%);
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(100%);
    }
}

.image-container {
    @apply relative bg-center bg-cover bg-gray-300;
}

.image-container-clickable:hover::after {
    content: "";
    left: 0;
    top: 0;
    background-color: #fff6;
    @apply z-1 w-full h-full absolute;
}

/* Icons no margin. */

[class^="spr-"]:before, [class*=" spr-"]:before {
    margin: 0px !important;
}

/* Toast custom CSS. */

.c-toast {
    @apply py-2 px-4 rounded-md !important;
}

.c-toast.c-toast--error {
    @apply bg-red-100 text-red-500 !important;
}

.c-toast.c-toast--success {
    @apply bg-green-100 text-green-700 !important;
}

/* Input number no arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}