.btn {
    @apply text-md px-6 py-2 rounded-md;
}

.btn-primary {
    @apply btn text-white bg-pink-400;
}

.btn-primary:disabled {
    @apply text-white bg-gray-200 text-gray-400 cursor-default;
}

.btn-outline {
    @apply btn text-pink-400 border border-pink-400;
}

.btn-primary-hover.btn-outline:hover {
    @apply btn text-white bg-pink-400;
}

.btn-sm {
    @apply text-sm px-3 py-1;
}

.tag {
    @apply inline-block text-pink-600 text-sm;
}

.btn-close {
    line-height: 44px;
    display: flex;
    margin-top: -8px !important;
    font-size: 40px;
    font-weight: 400;
    color: #000;
}

textarea {
    outline-color: #f472b6;
}

.black-to-yellow-filter {
    filter: invert(70%) sepia(100%) hue-rotate(15deg) saturate(5);
}

.black-to-pink-filter {
    filter: invert(70%) sepia(100%) hue-rotate(290deg) saturate(5);
}

.accordion-enter-active,
.accordion-leave-active {
    @apply transition duration-500 ease-in-out;
}

.accordion-enter-from,
.accordion-leave-to {
    @apply transform -translate-y-full;
}